In [47]:
import pandas as pd
import matplotlib as mat
import sklearn
from sklearn import svm 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [48]:
df=pd.read_csv("loan.csv")

In [49]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [50]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [51]:
df.shape

(614, 13)

In [52]:
df.describe

<bound method NDFrame.describe of       Loan_ID  Gender Married Dependents     Education Self_Employed
0    LP001002    Male      No          0      Graduate            No  \
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
0               5849                0.0         NaN             360.0  \
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

In [53]:
df.isnull().count

<bound method DataFrame.count of      Loan_ID  Gender  Married  Dependents  Education  Self_Employed
0      False   False    False       False      False          False  \
1      False   False    False       False      False          False
2      False   False    False       False      False          False
3      False   False    False       False      False          False
4      False   False    False       False      False          False
..       ...     ...      ...         ...        ...            ...
609    False   False    False       False      False          False
610    False   False    False       False      False          False
611    False   False    False       False      False          False
612    False   False    False       False      False          False
613    False   False    False       False      False          False

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
0              False              False        True             False  \
1              False              False       False             False
2              False              False       False             False
3              False              False       False             False
4              False              False       False             False
..               ...                ...         ...               ...
609            False              False       False             False
610            False              False       False             False
611            False              False       False             False
612            False              False       False             False
613            False              False       False             False

     Credit_History  Property_Area  Loan_Status
0             False          False        False
1             False          False        False
2             False          False        False
3             False          False        False
4             False          False        False
..              ...            ...          ...
609           False          False        False
610           False          False        False
611           False          False        False
612           False          False        False
613           False          False        False

[614 rows x 13 columns]>

In [54]:
#missing values
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [55]:
#drop the missing values
df=df.dropna()
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [56]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [57]:
df.shape

(480, 13)

In [58]:
df['Dependents'].value_counts()

Dependents
0     274
2      85
1      80
3+     41
Name: count, dtype: int64

In [59]:
df=df.replace(to_replace="+3",value=4)
df["Dependents"].value_counts()

Dependents
0     274
2      85
1      80
3+     41
Name: count, dtype: int64

In [60]:
df.info()
#objects needs to be encodded

<class 'pandas.core.frame.DataFrame'>
Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    object
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB

In [73]:
df=df.replace(to_replace="3+",value=4)
df["Married"].value_counts()

Married
1    311
0    169
Name: count, dtype: int64

In [70]:
df=df.replace({'Married':{"No":0,"Yes":1},"Gender":{"Male":1,"Female":0},"Self_Employed":{"No":0,"Yes":1},"Property_Area":{"Rural":0,"Semiurban":1,"Urban":2},"Education":{"Graduate":1,"Not Graduate":0}})

In [71]:
df.head

<bound method NDFrame.head of       Loan_ID  Gender  Married Dependents  Education  Self_Employed
1    LP001003       1        1          1          1              0  \
2    LP001005       1        1          0          1              1
3    LP001006       1        1          0          0              0
4    LP001008       1        0          0          1              0
5    LP001011       1        1          2          1              1
..        ...     ...      ...        ...        ...            ...
609  LP002978       0        0          0          1              0
610  LP002979       1        1          4          1              0
611  LP002983       1        1          1          1              0
612  LP002984       1        1          2          1              0
613  LP002990       0        0          0          1              1

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
1               4583             1508.0       128.0             360.0  \
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History  Property_Area Loan_Status
1               1.0              0           N
2               1.0              2           Y
3               1.0              2           Y
4               1.0              2           Y
5               1.0              2           Y
..              ...            ...         ...
609             1.0              0           Y
610             1.0              0           Y
611             1.0              2           Y
612             1.0              2           Y
613             0.0              1           N

[480 rows x 13 columns]>

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    int64
 2   Married            480 non-null    int64
 3   Dependents         480 non-null    object
 4   Education          480 non-null    int64
 5   Self_Employed      480 non-null    int64
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    int64
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(6), object(3)
memory usage: 52.5+ KB

In [75]:
#Create feature set and target

x=df.drop(columns=['Loan_ID','Loan_Status'],axis=1)
y=df["Loan_Status"]

In [76]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=2)

In [77]:
#simplest is linear
classifier= svm.SVC(kernel="linear")

In [79]:
classifier.fit(x_train,y_train)
#train the model

SVC(kernel='linear')

In [80]:
x_train_pred=classifier.predict(x_train)

In [81]:
train_accuracy=accuracy_score(x_train_pred,y_train)
train_accuracy

0.8072916666666666

In [82]:
x_test_pred=classifier.predict(x_test)

In [83]:
test_accuracy=accuracy_score(x_test_pred,y_test)
test_accuracy

0.7083333333333334

In [84]:
#polly kernal

poly=svm.SVC(kernel="poly")
poly.fit(x_train,y_train)

SVC(kernel='poly')

In [85]:
x_train_poly=poly.predict(x_train)
train_acc=accuracy_score(x_train_poly,y_train)
train_acc

0.71875

In [86]:
x_test_poly=poly.predict(x_test)
test_acc=accuracy_score(x_test_poly,y_test)
test_acc

0.6041666666666666